body {
  font-family: "Roboto"
}
.categories__list {
 display: flex;
 overflow: hidden;
 overflow-x: scroll;
}
main .categories__list .card-color {
  background-color: red;
}
.categories__list div {
  display: flex;
  margin: 8px;
  padding: 8px;
  font-size: 1.4rem;
  align-items: center;
  border-radius: 50px;
  background-color: white;
}
.categories__list div img {
  height: 1.8rem;
}
.categories__list div span {
  margin-left: 4px;
  font-weight: 500;
  color: var(--dark-blue);
}
#frame-content {
  height: 98vh;
  display: grid;
  margin: 0 8px;
  padding-bottom: 128px;
  gap: 16px;
  place-items: center;
  overflow: hidden;
  overflow-y: scroll;
}
#frame-content figure {
  max-width: 340px;
  border-radius: 16px;
  background-color: white;
}
#frame-content figure img {
  width: 100%;
  border-radius: 16px 16px 0 0;
}
#frame-content figure p {
  padding-top: 4px;
  padding-bottom: 8px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--dark-blue);
}
@media (min-width: 600px) {
  #frame-content {
    grid-template-columns: 1fr 1fr;
  }
}
