body {
  padding-bottom: 16px;
  background-color: var(--soft-gray);
  font-family: "Roboto";
  
  color: var(--dark-blue);
}
header {
  background-color: white;
  margin-bottom: 8px;
}
/*
header img {
  width: 32px;
  height: min-content;
  padding: 6px;
}
*/
header h1 {
  padding: 8px 8px;
  font-size: 2rem;
}
.content {
  padding: 8px;
  display: grid;
  row-gap: 16px;
  margin-top: 16px;
}
.content > div {
  padding: 8px;
  border-radius: 14px;
  background-color: white;
}
.slider-photos {
  width: 340px;
  margin: auto;
  overflow: hidden;
  position: relative;
  border-radius: 14px;
}
.slider-photos .slides {
  display: flex;
}
.slider-photos .slides img {
  width: 340px;
  object-fit: cover;
}
.slider-photos .buttons {
  width: 100%;
  position: absolute;
  display: flex;
  bottom: 16px;
  justify-content: center;
}
.slider-photos .buttons div {
  width: 12px;
  height: 12px;
  margin-left: 16px;
  border: 1px solid white;
  border-radius: 50%
}
.content__email,
.content__phone {
  display: flex;
  position: relative;
  align-items: center;
}
.content__email p,
.content__phone p {
  margin-left: 4px;
  font-size: 1.6rem;
}
.content__email img,
.content__phone img {
  width: 16px;
  height: 16px;
}
.content__email .end,
.content__phone .end{
  position: absolute;
  right: 8px;
}
.content__address--icons {
  display: flex;
  justify-content: space-between;
}
.content__address--icons img {
  width: 16px;
 
}
.content__schedule img {
  width: 16px;
}
.content__description h3 {
  font-size: 1.6rem;
}
.content__address p,
.content__schedule p,
.content__description p{
  margin-top: 4px;
  font-size: 1.6rem;
}
.content__description--img {
  width: 100%;
  display: grid;
  row-gap: 16px;
}
.content__description--img img {
  width: 100%;
  height: min-content;
  border-radius: 14px;
}
/*
@media  (max-width: 720px){
  .slider-photos {
    width: 620px;
  }
  .slider-photos .slides img {
    width: 620px;
  
}
*/
